package layout

import (
	"github.com/dexap/bundesliga-tipp-app/frontend-service/templates/components"
	"github.com/dexap/bundesliga-tipp-app/frontend-service/templates/layout"
)

templ Landing() {
	@layout.Base() {
		@components.Banner()
	}
}
